.card {
	display: flex;
	background-color: #fff;
	padding: 3.2rem 4rem;
	margin: 1.6rem;
	max-width: 40rem;
	min-width: 30rem;
	box-shadow: $box-shadow-high;
	border-radius: 8px;

	&--cyan {
		border-top: 5px solid $color-cyan;
	}

	&--red {
		border-top: 5px solid $color-red;
	}

	&--orange {
		border-top: 5px solid $color-orange;
	}

	&--blue {
		border-top: 5px solid $color-blue;
	}

	@include respond(bp900) {
		flex-direction: column;
		width: 100%;
		min-width: 36rem;
	}

	&__title {
		font-size: 1.5rem;
		margin-bottom: 0;
	}

	&__text {
		color: $color-gray-blue;
		margin-bottom: 4rem;
	}

	&__icon {
		display: flex;
		flex-direction: row-reverse;

		img {
			height: 6.4rem;
			width: 6.4rem;

			@include respond(bp600) {
				height: 5.5rem;
				width: 5.5rem;
			}
		}
	}
}
