.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 50px;
}

.row {
	display: flex;
	flex-direction: row;
}

.space-between {
	justify-content: space-between;
}

.center-text {
	text-align: center;
}
